@import vars


/*==========  Desktop First  ==========*/

@media screen and (max-width: 1450px)
  .intro-slide
    h1
      margin-top: 100px

// ≥1200px
+media-breakpoint-down(lg)

  .contacts-table
    td
      &:first-child
        width: 60%
      &:last-child
        width: 40%

  .gal-slider, .clients-slider, .comments-slider
    padding-left: 30px
    padding-right: 30px
    .owl-nav
      width: calc(100% - 60px)
      button.owl-prev
        left: -60px
      button.owl-next
        right: -60px

  .s-contacts
    .contacts-block-wrap
      position: relative
      width: 100%
    .contacts-block
      margin-left: calc((100vw - 960px)/2)

  .specicon-item
    width: calc(25% - 24px)
    &:nth-child(4n)
      margin-right: 0
    &:nth-child(5n)
      margin-right: 30px

  section
    padding: 50px 0

  .about-contacts
    padding-right: 0
    padding-left: 0
    &:before
      left: 0

  .is-home
    .main-head
      height: auto


  .main-head
    height: auto
    &:before
      display: none
    &:after
      display: none

  .intro-slide
    height: auto
    min-height: auto

  .intro-slider
    padding-bottom: 150px

  .top-line
    padding: 12px 0
  .main-mnu
    display: none
  .hamburger
    display: inline-block
    position: relative
    top: 3px

// ≥992px
+media-breakpoint-down(md)

  .s-worker
    .pcon-contact
      font-size: 16px

  .worker
    &-content
      font-size: 16px
    &-post
      span
        margin-right: 10px

  .service-head
    padding-bottom: 150px
    min-height: 350px
    h1
      font-size: 40px

  .clients-slide
    width: 190px
    height: 190px

  .s-contacts
    .contacts-block
      margin-left: calc((100vw - 720px)/2)

  .s-redirections
    .redirect-img
      margin-left: auto
      margin-right: auto
      margin-top: 40px
      top: 0
    form
      padding-right: 0

  .benefit-item
    margin-bottom: 50px


  .specicon-item
    width: calc(33.333% - 20px)
    &:nth-child(4n)
      margin-right: 30px
    &:nth-child(3n)
      margin-right: 0

  .about-img
    margin-left: auto
    margin-right: auto
    margin-top: 40px

  .intro-slide
    h1
      font-size: 50px

// ≥768px
+media-breakpoint-down(sm)

  .contacts-table
    font-size: 14px
    td
      &:first-child
        width: 50%
      &:last-child
        width: 50%

  .worker
    &-name
      font-size: 30px
    &-content
      flex-direction: column
    &-img-wrap
      width: 100%
      margin-bottom: 20px
      height: auto
    &-img
      display: block
      object-fit: unset
      width: auto
      max-width: 100%
      height: auto
      margin-left: auto
      margin-right: auto

    &-main
      width: 100%

  .clients-slide
    width: 210px
    height: 210px
    .img-responsive
      //width: auto

  .s-contacts
    .contacts-block
      margin-left: calc((100vw - 540px)/2)

  .benefit-item
    &-num
      text-align: center
      font-size: 50px
      margin-bottom: 10px
    &-desc
      font-size: 18px
    &-content
      align-items: center

  .specicon-item
    width: calc(50% - 16px)
    &:nth-child(3n)
      margin-right: 30px
    &:nth-child(2n)
      margin-right: 0!important


  .section-title
    font-size: 30px

  .s-about
    .section-title
      font-size: 30px

  .intro-slide
    h1
      font-size: 36px
    h2
      font-size: 20px

  .top-line
    .container
      flex-wrap: wrap

  .head-contacts
    order: 2
    margin-top: 30px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

// ≥480px
+media-breakpoint-down(xs)

  .contacts-table
    tr
      display: block
    td
      display: block
      &:first-child
        width: 100%
      &:last-child
        width: 100%

  .worker-name
    font-size: 22px
    line-height: 1

  .comments-slider
    padding: 0
    margin-bottom: 40px
    .owl-nav
      width: 100%
      top: auto
      bottom: -20px
      button.owl-prev
        left: 45px
      button.owl-next
        right: 45px

  .service-head
    padding: 50px 0 70px
    min-height: 180px
    h1
      font-size: 24px

  .review-item
    &:after
      right: 0

  .clients-slide
    margin-left: auto
    margin-right: auto

  .textcon-item
    font-size: 16px
    padding: 15px 20px
    &-img
      margin-right: 15px

  .gal-slider, .clients-slider
    padding-left: 40px
    padding-right: 40px
    margin-top: 50px
    .owl-nav
      width: calc(100% - 80px)
      button.owl-prev
        left: -45px
      button.owl-next
        right: -45px

  .main-foot
    text-align: center
    ul.no-h
      padding-top: 0

  .contact-item
    width: 100%

  .s-contacts
    .contacts-block
      margin-left: 15px
      padding-bottom: 30px

  .s-redirections

    .jq-selectbox__select
      font-size: 18px
    .jq-selectbox__trigger-arrow
      top: 22px


  .specicon-item
    width: 100%
    margin-right: 0
    &:nth-child(3n)
      margin-right: 0
    &:nth-child(5n)
      margin-right: 0

  section
    padding: 50px 0

  .section-title
    font-size: 24px

  .s-about
    .section-title
      font-size: 24px
      margin-bottom: 25px

  .about-contacts
    text-align: center
    &:before
      display: none
    .call
      display: block
    .btn
      margin-left: 0
      margin-top: 20px

  .about-desc
    margin-bottom: 25px

  .section-pretitle
    margin-bottom: 25px
    &:before
      display: none

      margin-bottom: 25px

  .intro-progressbar
    display: none

  .intro-count
    left: 115px


  .intro-slide
    h1
      font-size: 28px
    h2
      font-size: 18px

  .head-contacts
    flex-direction: column
    a
      text-align: center
      width: 175px
    .btn-blue
      margin-left: 0
      margin-top: 15px

/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
